body{
    text-align: center;
    font-family: 'Lora', serif;
    background: linear-gradient(lightgreen 0%, green 100%);
    color: black;
}
.menu{
font-family: fantasy;
z-index: 10;
position: fixed;
top: 0px;
cursor: pointer;
list-style: none;
width: 100%;
}
a{
    text-decoration: none;
}
.links:hover{
    font-size: 25px;
    text-decoration: underline;
    color: gray;
}
.links{
    float: left;
    color: black;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 9999;
}
